@inject IJSRuntime JSRuntime

<div class="upload-image-container mb-3">
    <div class="upload-image-wrapper">

        <img class="upload-image" src="@ImgSource" alt="">

        <button class="openFileBtn" @onclick="OpenFileBtn">
            <i class="fa-regular fa-circle-plus"></i>
        </button>
        <div class="text">
            Add image
        </div>
        <div id="cancel-btn" @onclick="RemoveActiveImg">
            <i class="fas fa-times"></i>
        </div>
        <div class="file-name">
            File name here
        </div>

    </div>

    <InputFile id="open-img" OnChange="HandleFileSelected" accept=".png,.jpg,.jpeg" hidden />

    @if (fileSize > MaxFileSize)
    {
        <p class="text-danger">File size cannot exceed 1 MB.</p>
    }
</div>

@code {

    long fileSize = 0;

    [Parameter]
    public long MaxFileSize { get; set; }

    [Parameter]
    public string? ImgSource { get; set; }         

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnFileChange { get; set; }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        fileSize = file.Size;
        await OnFileChange.InvokeAsync(e);
    }

    private async Task RemoveActiveImg()
    {
        await JSRuntime.InvokeVoidAsync("setUploadImageToDeactive");
    }

    private async Task OpenFileBtn()
    {
        await JSRuntime.InvokeVoidAsync("uploadImage");
    }
}
