@page "/"

<PageTitle>Dashboard</PageTitle>


<div class="dashboard-page-content">

    <div class="row">
        <div class="col-lg-9">
            <div class="insights row">

                <div class="insight-card-revenue col-lg">
                    <div class="insight-card-circle-1"></div>
                    <div class="insight-card-circle-2"></div>
                    <div class="insight-card-body">
                        <div class="insight-card-col">
                            <div>
                                <h3>Revenue</h3>
                                <h1>₱ 5,000</h1>
                            </div>
                            <p>
                                Last 24 Hours
                            </p>
                        </div>
                        <div class="insight-card-col">
                            <i class="fa-light fa-coins"></i>
                            <p class="insight-card-stat-detail">
                                total number of items sold:
                                <span>1,000</span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="insight-card-profit col-lg">
                    <div class="insight-card-circle-1"></div>
                    <div class="insight-card-circle-2"></div>
                    <div class="insight-card-body">
                        <div class="insight-card-col">
                            <div>
                                <h3>Profit</h3>
                                <h1>₱ 5,000</h1>
                            </div>
                            <p>
                                Last 24 Hours
                            </p>
                        </div>
                        <div class="insight-card-col">
                            <i class="fa-light fa-chart-mixed"></i>
                            <p class="insight-card-stat-detail">
                                Increase by:
                                <span>60%</span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="insight-card-stocks col-lg">
                    <div class="insight-card-circle-1"></div>
                    <div class="insight-card-circle-2"></div>
                    <div class="insight-card-body">
                        <div class="insight-card-col">
                            <div>
                                <h3>Stocks</h3>
                                <h1>₱ 5,000</h1>
                            </div>
                            <p>
                                Last 24 Hours
                            </p>
                        </div>
                        <div class="insight-card-col">
                            <i class="fa-light fa-boxes-stacked"></i>
                            <div class="insight-card-stat-detail">
                                <p>
                                    Critical Items:
                                    <span>100 products</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <h1>Hello, world!</h1>

    Welcome to your new app.


</div>

















