@page "/products"
@inject IJSRuntime JSRuntime
@inject IConfiguration Config

<div class="product-page-content">

    <!-- Start Panel 1 -->
    <div class="app-panel" id="panel1" style="opacity:1; display: flex;">

        <div class="container-fluid">
            <button type="button" id="openPanel2" class="add-btn btn btn-gradient-primary" @onclick="OpenPanel2">
                <i class="fa-regular fa-circle-plus"></i>
                Add
            </button>
        </div>

    </div>
    <!-- End Panel 1 -->

    <!-- Start Panel 2 -->
    <div class="app-panel" id="panel2" style="display: none;">

        <ProductForm OnBack="OpenPanel1"/>

    </div>
    <!-- End Panel 2 -->

</div>

@code {

    private async Task OpenPanel1()
    {
        await JSRuntime.InvokeVoidAsync("OpenPanel1");
    }

    private async Task OpenPanel2()
    {
        await JSRuntime.InvokeVoidAsync("OpenPanel2");
    }

}