@inject IJSRuntime JSRuntime

<div class="sidebar-backdrop"></div>
<div class="sidebar-top">
    <div class="logo">
        <img src="/img/logo.png" alt="Company Logo">
    </div>
    <div class="info">
        <h1 class="company-name" tabindex="-1">Doris</h1>
        <p class="tagline">Consumer Good Trading</p>
    </div>

    <i class="fa-solid fa-x" id="sidebar-toggle-x-btn"></i>
</div>


<ul class="nav">

    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match=@NavLinkMatch.All>
            <i class="menu-icon fa-solid fa-objects-column"></i>
            <span class="menu-title">Dashboard</span>
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="products" Match=@NavLinkMatch.All>
            <i class="menu-icon fa-light fa-wheat"></i>
            <span class="menu-title">Products</span>
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="brands" Match=@NavLinkMatch.All>
            <i class="menu-icon fa-light fa-box-open-full"></i>
            <span class="menu-title">Brands</span>
        </NavLink>
    </li>

    <li class="nav-item">

        <NavLink class="nav-link" data-bs-target="#category" href="category" Match=@NavLinkMatch.Prefix
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="category">
            <i class="menu-icon fa-light fa-chart-simple-horizontal"></i>
            <span class="menu-title">Categories</span>
            <i class="menu-arrow fa-solid fa-chevron-down"></i>
        </NavLink>

        <ul class="sub-menu collapse" id="category">
            <li class="nav-sub-item" Match=@NavLinkMatch.All>
                <NavLink class="sub-nav-link" href="category/categories">
                    <i class="fa-regular fa-arrow-right"></i>
                    <span>Category</span>
                </NavLink>
            </li>
            <li class="nav-sub-item" Match=@NavLinkMatch.All>
                <NavLink class="sub-nav-link" href="category/subcategories">
                    <i class="fa-regular fa-arrow-right"></i>
                    <span>SubCategory</span>
                </NavLink>
            </li>
        </ul>

    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="inventory" Match=@NavLinkMatch.All>
            <i class="menu-icon fa-regular fa-shelves"></i>
            <span class="menu-title">Inventory</span>
        </NavLink>
    </li>


</ul>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("registerSidebarToggleHandler");
        }
    }
}
